svn

GISShare.Controls.Plugin/bin
GISShare.Controls.Plugin/obj

GISShare.Controls.Plugin.WinForm.Demo/bin
GISShare.Controls.Plugin.WinForm.Demo/obj

GISShare.Controls.Plugin.WinForm.Demo.Hook/bin
GISShare.Controls.Plugin.WinForm.Demo.Hook/obj

GISShare.Controls.Plugin.WinForm.Demo.Hook.PluginDLL/bin
GISShare.Controls.Plugin.WinForm.Demo.Hook.PluginDLL/obj

GISShare.Controls.Plugin.WinForm/bin
GISShare.Controls.Plugin.WinForm/obj

GISShare.Controls.Plugin.WinForm.Demo/bin
GISShare.Controls.Plugin.WinForm.Demo/obj

GISShare.Controls.suo
GISShare.Controls.v12.suo